<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{ccf-title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        body, html{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

</head>

<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 20px auto 30px auto;">

    <tr>

        <td bgcolor="#fff" align="center" style="padding: 40px 0 30px 0;">

            <img src="{ccf-logo}" alt="{ccf-logo-alt}" width="261" height="auto" style="display: block;" />

        </td>

    </tr>

    <tr>

        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;border-left:1px solid #999;border-right:1px solid #999" >

            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                <tr>

                    <td style="font-size: 1rem;">
                        {ccf-intro}
                    </td>

                </tr>

                <tr>

                    <td style="padding: 20px 0 30px 0; width:100%;">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">

                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Nombre</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-name}</td>
                            </tr>
                                    
                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Apellidos</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-surname}</td>
                            </tr>

                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Email</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-email}</td>
                            </tr>

                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Teléfono</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-phone}</td>
                            </tr>

                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Mensaje</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-message}</td>
                            </tr>
            
                            <tr>
                                <td style="width: 170px; padding:8px 4px;font-weight: bold;vertical-align: top">Idioma de contacto</td>
                                <td style="padding:8px 4px; vertical-align: top;">{ccf-lang}</td>
                            </tr>

                        </table>

                    </td>

                </tr>

            </table>

        </td>

    </tr>

    
    <tr>
        <td bgcolor="#999" height="6px"></td>
    </tr>

</table>

</body>

</html>